---
import config from "../../config/config.json";
import { getCanonicalUrl } from "../../lib/seo";
import {
  IoLogoFacebook,
  IoLogoLinkedin,
  IoLogoPinterest,
  IoLogoTwitter,
} from "react-icons/io5";

const { base_url } = config.site;
const { title, description, slug, className } = Astro.props;
const shareUrl = getCanonicalUrl(`/blog/${slug}`);
---

<ul class={`${className}`}>
  <li class="inline-block">
    <a
      aria-label="facebook share button"
      href={`https://facebook.com/sharer/sharer.php?u=${shareUrl}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoFacebook />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="twitter share button"
      href={`https://twitter.com/intent/tweet/?text=${title}&amp;url=${shareUrl}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoTwitter />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="linkedin share button"
      href={`https://www.linkedin.com/shareArticle?mini=true&url=${shareUrl}&title=${title}&summary=${description}&source=${base_url}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoLinkedin />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="pinterest share button"
      href={`https://pinterest.com/pin/create/button/?url=${shareUrl}&media=&description=${description}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoPinterest />
    </a>
  </li>
</ul>
